@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;

}

* {
    margin: 0px;
    padding: 0px;
}



.header-section {
    display: flex;
    row-gap: 186px;
    /* max-width: 1160px; */
    padding: 0px 141px;
    align-items: center;

    justify-content: space-between;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 202px;
    height: 62px; */


}

.school {
    font-size: 32px;
    font-weight: 700;
    color: rgb(17, 17, 17);

}

/* .img{
    width: 62px;
    height: 62px;
} */
.header-nav {
    display: flex;
    gap: 32px;

    text-decoration-line: none;


}

.nav-item1 {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(254, 163, 1);

}

.nav-item2 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(1, 172, 253);

}

.nav-item3 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(5, 212, 223);

}

.nav-item4 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(93, 88, 239);

}

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    padding: 15px 50px;
    text-align: center;

    border-radius: 12px;
    border: none;

}

/* color */
.color1 {
    color: rgb(0, 0, 0);
}

.color2 {
    color: rgb(102, 102, 102);
}

/* banner-items */


.empowering {
    color: rgb(254, 163, 1);
}

.vision {
    color: rgb(1, 172, 253);
}

.student {
    color: rgb(17, 17, 17);
}

.banner {
    display: flex;
    margin: 0px 140px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}

.banner-description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 122px 0px 122px 0px;




}

.banner-title {
    font-size: 56px;
    font-weight: 700;

}

.banner-paragraph {
    font-size: 20px;
    font-weight: 400;
    padding: 24px 0px;
    color: rgb(17, 17, 17);

}

.banner-button {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);

}

/* .banner-img {
    height: 100%; 
}*/


/* standard curriculum */
.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 140px;
    gap: 80px;
    background-image: url('../assets/bg.png');
    border-top: 1px dashed rgb(128, 128, 128);
    border-bottom: 1px dashed rgb(128, 128, 128);


}

.banner2-title {
    font-size: 46px;
    font-weight: 700;
}

.card {
    display: flex;

    gap: 28.29px;



}

.card1 {
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.56px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 33.40px;
}

.card1-title {
    font-size: 24.52px;
    font-weight: 700;
}

.card1-description {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 15.34px;
    font-weight: 500;

}

.card1-button {
    font-size: 15.9px;
    font-weight: 700;
    color: rgb(100, 200, 255);
    background-color: white;
    border: none;
}

.card2 {
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 33.40px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.card2-title {
    font-size: 24.52px;
    font-weight: 700;
}

.card2-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15.34px;
    font-weight: 500;

}

.card2-button {
    font-size: 15.9px;
    font-weight: 700;
    color: rgb(240, 170, 0);
    background-color: white;
    border: none;

}

.card3 {
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    gap: 33.40px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.card3-title {
    font-size: 24.52px;
    font-weight: 700;
}

.card3-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15.34px;
    font-weight: 500;

}

.card3-button {
    font-size: 15.9px;
    font-weight: 700;
    color: rgb(135, 0, 255);
    background-color: white;
    border: none;

}

.banner2-button {
    display: flex;
    gap: 10px;

}
/* 
.button1 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 17px 22.5px 19px 22.13px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    border: none;
}

.button2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 17px 22.5px 19px 22.13px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    border: none;
}

.fa-solid .fa-chevron-right {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 17px 22.5px 19px 22.13px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    border: none;
} */


.button1, .button2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 17px 22.5px 19px 22.13px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    border: none;
}
i:hover{
    font-size: 44px;
    font-weight: 900;

    
}

.banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 60px 0px;


    

    background: url('../assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);


}

.banner-heading {
    font-size: 46px;
    font-size: 700;
    

}
.banner3-cards{
    display: flex;
    /* flex: 1; */
    gap: 19px;
    padding: 0px 141px;

 
    
    
}
.card-main{
    display: flex;
    flex-direction: column;
    
   

}
.banner3-item{
    padding: 51.77px 68px 34px 38px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    display: grid;
    position: relative;
    top: -52px;
    gap: 51.77px;
    border-radius: 0px 0px 16px 16px;

}
.card-paragraph{
    font-size: 24px;
    font-weight: 700;
}
.card-description{
    font-size:15.34px ;
    font-weight:500 ;
}
.card-img1{
    border-radius: 16px 16px 0px 0px;

}
.banner3-btn1{
    display: grid;
    position: relative;
    z-index: 3;
    top: -20px;
    padding-left: 57.50px;
    justify-content: flex-start;


}
.card-button1{
    font-size: 15.35px;
    font-weight:500 ;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    border: none;
    padding: 14.50px 18.50px;

background: rgb(60, 216, 232);

}
.secondary-card{
    display: grid;
    column-gap: 19px;
    row-gap: 19px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);

}
 .card-img2{
    border-radius: 16px 16px 0px 0px;
}  
.banner3-card2{
    display: flex;
    flex-direction: column;
}
.banner3-item2{
    padding: 40px 54px 33px 37px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    display: grid;
    position: relative;
    top: -45px;
    border-radius: 0px 0px 16px 16px;

}
.banner3-btn2{
    display: grid;
    position: relative;
    z-index: 1;
    top: -25px;
    padding-left: 37px;
    
    justify-content: flex-start;


}

.card-button2{
    font-size: 15.35px;
    font-weight:500 ;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    border: none;
    padding: 9.70px 19.50px;

background: rgb(149, 178, 38);


}
.banner3-card3{
    display: flex;
    flex-direction: column;
}

.banner3-item3{
    padding: 40px 54px 33px 37px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    display: grid;
    position: relative;
    top: -45px;
    border-radius: 0px 0px 16px 16px;

}
.banner3-btn3{
    display: grid;
    position: relative;
    z-index: 1;
    top: -25px;
    padding-left: 37px;
    
    justify-content: flex-start;


}

.card-button3{
    font-size: 15.35px;
    font-weight:500 ;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    border: none;
    padding: 9.70px 19.50px;

background: rgb(93, 88, 240);


}
.banner3-card4{
    display: flex;
    flex-direction: column;
}
.banner3-item4{
    padding: 40px 54px 33px 37px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    display: grid;
    position: relative;
    top: -45px;
    border-radius: 0px 0px 16px 16px;

}
.banner3-btn4{
    display: grid;
    position: relative;
    z-index: 1;
    top: -25px;
    padding-left: 37px;
    
    justify-content: flex-start;


}

.card-button4{
    font-size: 15.35px;
    font-weight:500 ;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    border: none;
    padding: 9.70px 19.50px;

background:rgb(149, 178, 38);


}
.banner3-card5{
    display: flex;
    flex-direction: column;
}
.banner3-item5{
    padding: 40px 54px 33px 37px;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    display: grid;
    position: relative;
    top: -45px;
    border-radius: 0px 0px 16px 16px;

}
.banner3-btn5{
    display: grid;
    position: relative;
    z-index: 1;
    top: -25px;
    padding-left: 37px;
    
    justify-content: flex-start;


}

.card-button5{
    font-size: 15.35px;
    font-weight:500 ;
    color: rgb(255, 255, 255);
    border-radius: 47.93px;
    border: none;
    padding: 9.70px 19.50px;

background: rgb(149, 178, 38);


}


/* .banner3-cards {
    display:grid;
    grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(2,1fr); 
    gap: 19px;
 
    margin: 0px 140px;
    


} 
/*  
/* 
.banner3-card2 {
    display: flex;
    flex-direction: column;
  
    border: none;

}
.banner3-item2{
    padding: 28.50px 38.50px;
    background-color:rgb(255, 255, 255) ;
    justify-content: flex-start;
}


.card-img2 {}

.card-button2 {
    font-size: 15.34px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 15px 18px;
    background-color: rgb(60, 216, 232);
    border: none;
    border-radius: 47.93px;


    
}

.card-paragraph2 {
    font-size: 15.34px;
    font-weight: 700;
}

 .banner3-card3 {
    display: flex;
    flex-direction: column;
  
    border: none;

 }

.card-img3 {}

.card-button3 {}

 .banner3-card4 {
    display: flex;
    flex-direction: column;
  
    border: none;

 }

.card-img4 {}

.card-button4 {}

 .banner3-card5 {
    display: flex;
    flex-direction: column;
  
    border: none;

 }

.card-img5 {
   
}

.card-button5 {} */

.view-all{
    font-size: 20px;
    font-weight: 700;
    color:rgb(255, 255, 255) ;
    background-color:rgb(17, 17, 17) ;
    border-radius:12px ;
    padding: 10px 60px;
}
.banner4{
    display: flex;
    justify-content: space-between;
    gap: 172px;
    padding: 123px 228px 174px 140px;
    background-color: rgb(1, 172, 253);
}
.banner4-column2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner4-column1{
    display: flex;
    flex-direction: column;
    gap: 35px;
    
    justify-content: flex-start;
}
.banner4-head{
    display: flex;
    gap: 10.7px;
    align-items: center;
}
.banner4-title{
    display: flex;
    align-items: flex-start;
    font-size: 42.14px;
    font-weight: 700;
    /* width: 399px; */
    color:rgb(255, 255, 255) ;
}
.banner4-description{
    font-size:20px ;
    font-weight:400 ;
    color:rgb(255, 255, 255) ;
}
.column2-title{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.size{
    font-size: 20px;
    font-weight: 500;
    color:rgb(255, 255, 255) ;
}
.decoration{
    text-decoration: none;
}
.banner4-column3{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.column3-title{
    color: rgb(255, 255, 255);

font-size: 26px;
font-weight: 700;

}
.banner-icons{
    display: flex;
    gap: 8px;

}

